html{
font-size: 62.5%;
}
body{
margin:0;
padding: 0;
display:flex;
justify-content:center;
}
.container{
margin-top: 5rem;
display:flex;
flex-direction:column;
width: 30%;
height: 70vh;
}
h1{
color:blueviolet;
font-size: 3rem;
}
h2{
color:blueviolet;
font-size: 2rem;
}

.btn{
height:2em;
flex: 1;
display:flex;
justify-content:center;
align-items:center;
border-radius: .5rem;
background-color:#1A237E;
color: whitesmoke;
border:none;
font-size: 2rem;
text-decoration: none;
}

.btn:hover{
  background-color:#303F9F;
  cursor: pointer;
}

.btn:active{
  background-color:#1976D2;
}

.flex{
  display: flex;
  margin: 1em;
}

#notPermission{
  display: none;
}

#teamColor{
  width: 100px;
  height: 80%;
  margin: 1em;
}

#redProg::-moz-progress-bar{
  background: red;
}
#greenProg::-moz-progress-bar{
  background: green;
}
progress{
  width: 100%;
  height: 10px;
}

.progress-group{
  text-align: center;
}




#win-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); /* Background color of the text overlay */
  color: white; /* Text color */
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
